span.home-name {
	font-size: 30px;
}
#home-posts-container {
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-radius: 5px;
	// height: 500px;
	// overflow: auto;
	width: 800px;

}
ul.home-posts-list {
	list-style: none;
}
div.home-post-container {
	padding: 5px;
	&:hover {
		cursor: pointer;
		background: #2386AF;
	}
	border: 1px solid #eee;
	h1.post-title {
		font-size: 25px;		
	}
	p.post-content {
		font-size: 18px;
		white-space: pre-wrap;
		display: -webkit-box;
	    -webkit-line-clamp: 3;
	    -webkit-box-orient: vertical;
	    overflow: hidden;
		height: 25*3px;
		text-overflow: ellipsis;
	}
}

#post-bottom-container {
	margin-left: 600px;
	.post-owner-name {
		display: block;
	}
	.post-last-modified {
		display: block;
	}
 
}

#home-page-cantainer {
	width: 800px;
	margin-top: 5px; 
	margin-bottom: 5px; 
	margin-left: auto;
	margin-right: auto;
	.home-page-list {
		display: flex;
		flex-direction: row;
		margin-left: auto;
		margin-right: auto;
		content-justify: space-between;
		list-style: none;
		width: 400px;
		li {
			flex: 1 1 5%;
			a {
				cursor: pointer;
				font-size: 20px;
			}
		}
	}
}