span.manager-name {
	font-size: 30px;
}
#search-container {
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	margin-bottom: 10px;
	input {
    font-size: 20px;
    color: white;
    width: 800px;
    height: 40px;
    display: inline-block;
    outline: none;
    background: transparent;
    border:1px white solid;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 10px;
  }
}
#manager-posts-container {
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-radius: 5px;
	// height: 500px;
	// overflow: auto;
	width: 800px;
}
ul.manager-posts-list {
	list-style: none;
}
div.manager-post-container {
	padding: 5px;
	&:hover {
		cursor: pointer;
		background: #2386AF;
	}
	border: 1px solid #eee;
	h1.post-title {
		font-size: 25px;		
	}
	p.post-content {
		font-size: 18px;
		white-space: pre-wrap;
	}
}

#post-bottom-container {
	margin-left: 600px;
	.post-owner-name {
		display: block;
	}
	.post-last-modified {
		display: block;
	}
 
}

