#edit-post-form {
  legend {
    font-size: 30px;
  }
  width:780px;
  label {
    display: none;
  }
  input {
    font-size: 20px;
    color: white;
    width: 780px;
    height: 40px;
    display: inline-block;
    outline: none;
    background: transparent;
    border:1px white solid;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 10px;
  }
  textarea {
    font-size: 20px;
    color: white;
    width: 780px;
    // height: 40px;
    display: inline-block;
    outline: none;
    background: transparent;
    border:1px white solid;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 10px;
  }
  input[type="submit"] {
    letter-spacing: 2px;
    &:hover {
      background: #2287B0;
      border: 1px #ccc solid;
    }
  }
}
.edit-button, .back-button, .delete-button {
  margin-left: 20px;
  font-size: 20px;
  color: white;
  width: 70px;
  height: 30px;
  display: inline-block;
  outline: none;
  background: transparent;
  border:1px white solid;
  border-radius: 5px;
  float: right;
  &:hover {
    background: #2287B0;
    border: 1px #ccc solid;
  }
}