#user-container {
  display: flex;
  flex-direction: row;
  content-justify: space-between;
  #user-left-container, #user-right-container {
    flex: 1 1 0;
  }
  padding-left: 10px;
}
span.user-name {
	font-size: 30px;
}
#user-search-container {
  width: 500px;
  margin-bottom: 10px;
  input {
    font-size: 20px;
    color: white;
    width: 500px;
    height: 40px;
    display: inline-block;
    outline: none;
    background: transparent;
    border:1px white solid;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 10px;
  }
}
#user-posts-container {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-radius: 5px;
	height: 490px;
	overflow: auto;
	width: 500px;
	margin-top: 10px;

}
ul.user-posts-list {
	list-style: none;
}
div.user-post-container {
	padding: 5px;
	&:hover {
		cursor: pointer;
		background: #2386AF;
	}
	border: 1px solid #eee;
	h1.post-title {
		font-size: 25px;		
	}
	p.post-content {
		font-size: 18px;
		white-space: pre-wrap;
	}
	span.post-last-modified {
		margin-left: 300px;
	}
}

#create-post-form {
  legend {
    font-size: 30px;
  }
  width:450px;
  label {
    display: none;
  }
  input {
    font-size: 20px;
    color: white;
    width: 435px;
    height: 40px;
    display: inline-block;
    outline: none;
    background: transparent;
    border:1px white solid;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 10px;
  }
  textarea {
    font-size: 20px;
    color: white;
    width: 435px;
    // height: 40px;
    display: inline-block;
    outline: none;
    background: transparent;
    border:1px white solid;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 10px;
  }
  input[type="submit"] {
    letter-spacing: 2px;
    &:hover {
      background: #2287B0;
      border: 1px #ccc solid;
    }
  }
}