.top-title {
  font-size: 20px;
}
.list-group{
    max-height: 400px;
    overflow:auto; 
}
.grabage-collection {
  position: fixed;
  bottom: 0px;
  left: 0;
}

$scale: 0.7;
$color: #222;


.icon {
  // background: invert($color);
  position: relative;
  width: 200px*$scale;
  height: 200px*$scale;
  margin: 50px auto 0;
  border-radius: 5px*$scale;
  transition: box-shadow .2s ease;
  &.drag-over {
    box-shadow: 0 0 10px*$scale rgba(10,10,10,.3);
  }
}

.icon.drag-over .lid, .icon.drag-over .lidcap {
  transform: rotate(10deg);
  margin-bottom: 15px*$scale;
}

.lidcap, .lid, .bin {
  position: absolute;  
}

.lidcap, .lid {
  border-top-left-radius: 4px*$scale;
  border-top-right-radius: 4px*$scale;
  background: $color;
  transition: transform .2s linear, margin .2s linear;
}

.lidcap {  
  bottom: 138px*$scale;
  left: 80px*$scale;  
  height: 10px*$scale;
  width: 20px*$scale;
}

.lid {
  bottom: 120px*$scale;
  left: 30px*$scale;
  width: 120px*$scale;
  height: 20px*$scale;
}

.bin {
  bottom: 0;
  left: 40px*$scale;
  width: 100px*$scale;
  border-top: 120px*$scale solid $color;
  border-left: 10px*$scale solid transparent;
  border-right: 10px*$scale solid transparent;
}