.assignment-time {
	background: #75FA9C;
}
.rank-row {
	background: #F7E9E9;
}
.homework-image {
	width: 100%;
	height: 200px;
}
.assignment-link {
	cursor: pointer;
}
.assignment-top {
	font-size: 25px;
}
.assignment-top span.label {
	font-size: 15px;
}
.assignment-time {
	font-size: 17px;
	padding-left: 15px;
}
