nav
  ul
    li 
      a(href="#home/page/1") 博客主页
    li(ng-if="!userData.isManager")   
      a(href="#user") 用户主页
div#home-container
  div#search-container
      input(ng-model="search", placeholder="search...")
  div#home-page-cantainer
    ul.home-page-list
      li(ng-if="prePage")
        a(ng-href="#home/page/{{prePage}}") ...  
      li(ng-repeat="i in pagesArray")
        a(ng-href="#home/page/{{i}}", ng-style="{color:currentPage==i?'red':'#eee'}") {{i}}
      li(ng-if="sufPage")
        a(ng-href="#home/page/{{sufPage}}") ...  
  div#home-posts-container
    ul.home-posts-list
      li(ng-repeat="postData in postsData | filter:search")
        div.home-post-container(ng-click="enterPostDetail(postData)")
          h1.post-title {{postData.title}}
          p.post-content {{postData.content}}
          div#post-bottom-container
            span.post-owner-name {{postData.ownerName}}
            span.post-last-modified {{postData.lastModified | date:"MM/dd/yyyy 'at' h:mma"}}
  div#home-page-cantainer
    ul.home-page-list
      li(ng-if="prePage")
        a(ng-href="#home/page/{{prePage}}") ...  
      li(ng-repeat="i in pagesArray")
        a(ng-href="#home/page/{{i}}", ng-style="{color:currentPage==i?'red':'#eee'}") {{i}}
      li(ng-if="sufPage")
        a(ng-href="#home/page/{{sufPage}}") ...  
