nav
  ul
    li 
      a(href="#home/page/1") 博客主页
    li   
      a(href="#user") 用户主页
div#post-container
  div#post-profile-container
    span.post-title {{postData.title}}
    p.post-content {{postData.content}}
  div#comments-container
    ul.comments-list
      li(ng-repeat="commentData in postData.comments")
        div.comment-container
          p.comment-content {{commentData.content}}
          div#comments-bottom-container
            span.comment-owner-name {{commentData.ownerName}}
            span.comment-last-modified {{commentData.lastModified | date:"MM/dd/yyyy 'at' h:mma"}}
  div#create-comment-container
      form#create-comment-form
        fieldset
          div#legand
            legend Write Comment
          div.content-container
            label(for="content", class="attribute-name")
            textarea(ng-model="content", id="content", name="content", placeholder="content...", form="create-comment-form")
          div.submit-container
            input(id="submit" type='submit' ng-click="createComment()")
          div.message-container
            p(class="message" ng-class="messageClass") {{message}}