nav
  ul
    li 
      a(href="#manager/page/1") 博客主页
div#manager-container
  div#search-container
      input(ng-model="search", placeholder="search...")
  div#manager-posts-container
    ul.manager-posts-list
      li(ng-repeat="postData in postsData | filter:search")
        div.manager-post-container(ng-click="enterPostDetail(postData)")
          h1.post-title {{postData.title}}
          p.post-content {{postData.content}}
          div#post-bottom-container
            span.post-owner-name {{postData.ownerName}}
            span.post-last-modified {{postData.lastModified | date:"MM/dd/yyyy 'at' h:mma"}}
