.modal.fade(id="myChangePasswordModal",tabindex="-1",role="dialog",aria-labelledby="myChangePasswordModalLabel")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        button.close(type="button",data-dismiss="modal",aria-label="Close")
          span(aria-hidden="true") &times;
        h4.modal-title(id="myChangePasswordModalLabel") 修改密码
        .modal-body
          form.change-password-form
            .form-group
              label(for="old-password")
              input.form-control(type="password",[(ngModel)]="inputOldPassword",id="old-password", placeholder="旧密码新")
            .form-group
              label(for="new-password")
              input.form-control(type="password",[(ngModel)]="inputNewPassowrd",id="new-password", placeholder="新密码")
            .form-group
              label(for="new-password-again")
              input.form-control(type="password",[(ngModel)]="inputNewPassowrdAgain",id="new-password-again", placeholder="重复新密码")
          .messages-container
            ul.messages-list
              li([ngClass]="{'text-warning':!changePassowrdSuccess, 'text-success':changePassowrdSuccess}" ,*ngFor="#message of changePassowrdMessages") {{message}}
        .modal-footer
          button.btn.btn-default(type="button", data-dismiss="modal") 关闭
          button.btn.btn-primary(type="button",(click)="onClickChangePassword()") 修改