.homework-owner-name {
	font-size: 30px;
	text-align: center;
}
.rank-row {
	height: 40px;
}
.homework-review-score {
	// margin-top: 10px;
	font-size: 25px;
	text-align: center;
}
.review-score {
	height: 190px;
	font-size: 25px;
	text-align: center;
}
.homework-review-message,
.review-message {
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
	word-break: break-all;
	white-space: pre-wrap;
	overflow-y: auto;
	height: 200px;
	background: #FCF4F4;
}
.homework-image {
	width: 100%;
	height: 200px;
}
.link-row {
	// margin-top: 14px;
	a {
		font-size: 18px;
		height: 30px
	}
}
.setup-create-review-button,
.setup-update-review-button {
	// margin-top: 15px;
}
textarea {
	height: 200px;
	font-size: 25px;
}
input#review-create-score,
input#review-update-score {
	height: 50px;
	font-size: 25px;
}
.homework-final-message {
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
	word-break: break-all;
	white-space: pre-wrap;
	overflow-y: auto;
	height: 200px;
	background: #FCF4F4;
}
.homework-final-score {
	height: 200px;
	font-size: 25px;
	text-align: center;
	background: #11FBDC;
}